<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Quoting Dojo Redux</title>
	<!-- <link rel="stylesheet" href="/stylesheets/style.css" /> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			//this triggers the connection even in our server!
			var socket = io.connect();
			socket.on('mongoose_selected', function (data) {
				console.log(data);
				//console.log(data.users[0].name);
				for (user in data){
				$('#name').val(data[user].name);
				$('#age').val(data[user].age);
				$('#color').val(data[user].favorite_color);
				var url = '/mongooses/' + data[user]._id;
				$('form#form-edit').attr('action', url);
				var url2 = '/mongooses/' + data[user]._id + '/destroy';
				$('form#form-delete').attr('action', url2);
				 // $('ul#mongoose-list').append('<li><p>Name</p><h3>'+ data[user].name +'</h3><p>Age</p><h3>' + data[user].age + '</h3><p>Favorite Color</p><h3>' + data[user].favorite_color + '</h3><a href="/mongooses/' + data[user]._id + '/edit" class="btn btn-primary">Edit Mongoose</a></li>');
				}
				// socket.emit('update_log', { msg : '<li>' + data.response + '</li>' })
			});
		})
	</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>EDIT A MONGOOSE!!</h1>
				<% if(typeof(errors) != 'undefined') { %>
					<% for (var x in errors) { %>
						<h3><%= errors[x].message %></h3>
						<% } %>
					<% } %>
				<form id="form-edit" method="post">
					<div class="form-group">
						<label for="name">Mongoose Name*</label>
						<input id="name" type="text" class="form-control" name="name" placeholder="enter name">
					</div>
					<div class="form-group">
						<label for="age">Age*</label>
						<input id="age" type="text" class="form-control" name="age" placeholder="enter age">
					</div>
					<div class="form-group">
						<label for="color">Favorite Color*</label>
						<input id="color" type="text" class="form-control" name="color" placeholder="enter favorite color">
					</div>
					<button type="submit" class="btn btn-primary">Edit Mongoose</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2 col-sm-offset-10">
				<form id="form-delete" method="post">
					<button type="submit" class="btn btn-danger">Delete Mongoose</button>
				</form>
			</div>
		</div>
		</div>
	</div>
</body>
</html>